p{
    background-color:springgreen
}

.c1{font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
#a{
    font-size: 100pt;
    color: deeppink;
}
p.c1{background-color:pink}

#b{
    text-align:right;
    color:purple;
}

#crab1{
    position: absolute;
    right: 30px;
    width: 25%;
    height: 25%;
    border: 20px solid black;
    border-radius: 50%;
}

#crab2{
    position: absolute;
    left: 30px;
    width: 25%;
    height: 25%;
    border: 20px solid black;
    border-radius: 50%;
}